.contactForm {
    .container{
        background-color: #f0efe9;   
        
        .sectionTitle{
            width: 35%;
        }
        .contactForm{
            display: flex;
                flex-direction: column;
            
            .input-group{
            align-items: center;
            justify-content: center;
            
            
            input{
                width: 100%;
                margin: 0px 200px 20px 200px;
                padding: 12px 20px;
                border: none;
                border-radius: 25px;
                
            }

            }
            .inputMessage{
                align-items: center;
                justify-content: center;

                input{
                    padding:  0px 20px 80px 20px;
                    width: 100%;
                    margin: 0px 200px 20px 200px;
                    border: none;
                    border-radius: 25px;
                }
            
            }
            .input-checkbox-group{
                width: 35‰;
                margin-bottom: 20px;
            }
        }
    }
}

.newScssPage{
    background-color: aqua;
    color: black;
}
.map{
    width: 100%;
}
    
